@model Entities.Dto.ProfileD
@{
    ViewData["Title"] = "Profile";
}

<form>
    <div class="form-header">
        <h1>Profile</h1>
    </div>
    <div class="input-container">
        <label>Name Surname</label>
        <br>
        <p>@Model.user.FirstName @Model.user.LastName</p>
        <br>
        <label>E-mail</label>
        <br>
        <p> @Model.user.Email</p>
        <br>
        <label>Your Rezervations</label>
        <br />
        @if (Model.profile != null)
        {
            @foreach (var item in Model.profile)
            {
                <p id="change">@item.ParkName is reserved for you</p>
                <input id="a" type="button" onclick="return swal('You can park to @item.BackParkName');" value="My place is full" />
                <br>
                <script>
                    $("#a").click(function () {
                        //$("#change").text("@item.BackParkName is reserved for you")
                        confirm("aa")
                    });
                </script>
            }
        }
        else
        {
            <p>You don't have any reservations</p>
        }

    </div>
    <div class="link-container">
        <a href="/Home/ListofCarParks">Car Park List</a><br>
        <a href="/Home/Index">Log Out</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</form>